@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans';
  /* background: radial-gradient(circle at 22.4% 21.7%, rgb(4, 189, 228) 0%, rgb(2, 83, 185) 100.2%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradientbg {
  background: radial-gradient(circle at 22.4% 21.7%, rgb(4, 189, 228) 0%, rgb(2, 83, 185) 100.2%);
}

.gradientbg2 {
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.gradientbg3 {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.textClip {
  -webkit-background-clip: text;
  color: transparent;
}